body {
    font-family: Arial, sans-serif;
    background-color: #8265A7;
    color: #FBFBFB;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: #D93F87;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input[type="text"], input[type="date"] {
    padding: 10px;
    background-color: #FBFBFB;
    color: #8265A7;
    border: none;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #FBFBFB;
    color: #8265A7;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}
